/**
Custom Front-end Styling for Aqua Page Builder
	
**/

/* Tabs
========================================================================*/
.aq_block_tabs ul.aq-nav li a {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	opacity: 0.5;
}

.aq_block_tabs ul.aq-nav li.active a {
	height: 27px;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	opacity: 1.0;
}

.aq_block_tabs .tab-content {
	-webkit-box-shadow: 2px 2px 3px 0px rgba(0, 0, 0, 0.1), inset 0 1px 1px rgba(0, 0, 0, 0.05);
	box-shadow: 2px 2px 3px 0px rgba(0, 0, 0, 0.1), inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

/* Toggles & Accordion
====================================================================*/
.aq_block_toggle .tab-body.in,.aq_block_accordion .tab-body.in {
	display: block;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
	filter: alpha(opacity=90);
	opacity: 0.9;

	-webkit-box-shadow: inset 0px 6px 6px -2px rgba(0, 0, 0, 0.1);
	box-shadow: inset 0px 6px 6px -2px rgba(0, 0, 0, 0.1);
}

.aq_block_toggle,.aq_block_accordion {
	-webkit-box-shadow: 2px 2px 3px 0px rgba(0, 0, 0, 0.1), inset 0 1px 1px rgba(0, 0, 0, 0.05);
	box-shadow: 2px 2px 3px 0px rgba(0, 0, 0, 0.1), inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

/* Latest Portfolio
====================================================================*/
#latest-portfolio .well {
	background: none;
	border: none;
	text-align: center;

	-webkit-box-shadow: none;
	box-shadow: none;
}

#latest-portfolio .tooltip4background {
	background: #202627;
	color: #EFF4FF;
	border: solid 3px #EFF4FF;
	border-radius: 16px;

	-webkit-box-shadow: 0px 0px 3px 2px #00A4F7;
	box-shadow: 0px 0px 3px 2px #00A4F7;
	padding: 5px;
	overflow: hidden;
}

#latest-portfolio .hoveralls_container {
	width: 100% !important;
	height: 100% !important;

	-webkit-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.15);
	box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.15);

	-webkit-transition: all .35s ease-in-out;
	-moz-transition: all .35s ease-in-out;
	-o-transition: all .35s ease-in-out;
	-ms-transition: all .35s ease-in-out;
	transition: all .35s ease-in-out;
}

#latest-portfolio .hoveralls_container:hover {
	-webkit-box-shadow: none;
	box-shadow: none;
}

#latest-portfolio .image-box,#latest-portfolio .image-box img {
	-webkit-transition: all .35s ease-in-out;
	-moz-transition: all .35s ease-in-out;
	-o-transition: all .35s ease-in-out;
	-ms-transition: all .35s ease-in-out;
	transition: all .35s ease-in-out;
}

#latest-portfolio .well:hover .image-box,#latest-portfolio .well:hover .image-box img {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	opacity: 0;
}

ul.portfolio-categories {
	text-align: center;
	list-style: none;
}

ul.portfolio-categories li {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	filter: alpha(opacity=70);
	opacity: 0.7;
	cursor: pointer;
	display: inline;
	margin: 0px 5px;
	font-size: 1.3em;
	font-weight: normal;
}

ul.portfolio-categories li:hover {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	opacity: 1.0 !important;

	-webkit-transition: all .35s ease-in-out;
	-moz-transition: all .35s ease-in-out;
	-o-transition: all .35s ease-in-out;
	-ms-transition: all .35s ease-in-out;
	transition: all .35s ease-in-out;
}

ul.portfolio-categories li:after {
	margin-left: 15px;
	content: '/';
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	filter: alpha(opacity=70);
	opacity: 0.7;
}

ul.portfolio-categories li:hover:after {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	filter: alpha(opacity=70);
	opacity: 0.7 !important;
}

ul.portfolio-categories li:last-child {
	margin-right: 0;
}

ul.portfolio-categories li:last-child:after {
	content: '';
}

#latest-portfolio .current {
	-webkit-transition: all .35s ease-in-out;
	-moz-transition: all .35s ease-in-out;
	-o-transition: all .35s ease-in-out;
	-ms-transition: all .35s ease-in-out;
	transition: all .35s ease-in-out;
}

#latest-portfolio .not-current {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
	filter: alpha(opacity=20);
	opacity: 0.2;

	-webkit-transform: scale(0.95);
	-moz-transform: scale(0.95);
	-o-transform: scale(0.95);
	-ms-transform: scale(0.95);
	transform: scale(0.95);

	-webkit-transition: all .35s ease-in-out;
	-moz-transition: all .35s ease-in-out;
	-o-transition: all .35s ease-in-out;
	-ms-transition: all .35s ease-in-out;
	transition: all .35s ease-in-out;
}

#latest-portfolio .current-li {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	opacity: 1.0 !important;
	font-weight: bold;
}

#latest-portfolio .all {
	-webkit-transition: all .35s ease-in-out;
	-moz-transition: all .35s ease-in-out;
	-o-transition: all .35s ease-in-out;
	-ms-transition: all .35s ease-in-out;
	transition: all .35s ease-in-out;
}

/* Blog Updates
====================================================================*/
#blog-updates .well {
	text-align: center;
	background: none;
	border: none;

	-webkit-box-shadow: none;
	box-shadow: none;
}

#blog-updates .post-title {
	padding-bottom: 0px;
	margin-bottom: 0px;
}

#blog-updates .post-meta {
	font-size: 0.8em;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	opacity: 0.8;
}

#blog-updates .image-box,#blog-updates .image-carousel,#blog-updates .video-box {
	-webkit-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.15);
	box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.15);
}

/* Staff Block
====================================================================*/
#staff-block .well {
	text-align: left;
	background: #F8F8F8;
	border: none;
	padding: 0px;
	overflow: hidden;

	-webkit-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.15);
	box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.15);
}

#staff-block .well > center > img {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	opacity: 0.5;

	-webkit-transition: all .35s ease-in-out;
	-moz-transition: all .35s ease-in-out;
	-o-transition: all .35s ease-in-out;
	-ms-transition: all .35s ease-in-out;
	transition: all .35s ease-in-out;
}

#staff-block .well:hover > center > img {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	opacity: 1;

	-webkit-transform: scale(1.05);
	-moz-transform: scale(1.05);
	-o-transform: scale(1.05);
	-ms-transform: scale(1.05);
	transform: scale(1.05);
}

#staff-block .well .inner {
	padding: 5px;
	padding-bottom: 10px;
}

#staff-block .well .inner p {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	opacity: 0.8;
}

#staff-block .well h3 {
	line-height: 0.9;
}

#staff-block .well h3 small {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	filter: alpha(opacity=70);
	opacity: 0.7;
	font-size: 0.6em;
}

/* Google Map Block
====================================================================*/
.google-map-block .page-header {
	padding-bottom: 2px;
	margin-bottom: 8px;
	border-bottom: 1px dashed #202627;
}

/* Pricing Table Block
====================================================================*/
.pricingtable {
	-webkit-box-shadow: 0px 0px 0px 1px #CCCCCC, 2px 2px 5px 0px rgba(0, 0, 0, 0.15);
	box-shadow: 0px 0px 0px 1px #CCCCCC, 2px 2px 5px 0px rgba(0, 0, 0, 0.15);
	border-radius: 5px;
	text-align: center;

	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

.pricingtable h2 {
	margin: 0px auto;
	padding: 20px 0px;
	text-align: center;
	border-radius: 5px;

	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

.pricingtable h2 > span {
	font-size: 0.6em;
	text-shadow: none;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	filter: alpha(opacity=70);
	opacity: 0.7;
}

.pricingtable h4 {
	text-align: center;
}

.pricingtable ul {
	padding: 0px;
	margin: 0px 5px;
}

.pricingtable ul li {
	list-style: none;
	text-align: center;
	padding: 10px 0px;
	margin-top: 1px;
}

.pricingtable ul li:nth-child(odd) {
	background: rgba(0, 0, 0, 0.2);

	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

.pricingtable ul li:nth-child(even) {
	background: rgba(255, 255, 255, 0.2);

	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

.pricingtable .btnclass {
	padding: 5px;
}

.pricingtable:hover,.featured {
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-o-transform: scale(1.1);
	-ms-transform: scale(1.1);
	transform: scale(1.1);
}

/* Contact Form Block
====================================================================*/
.contact-form-block.well {
	background: none;
	border: none;
	padding: 1%;
}

.contact-form-block input.input-max,.contact-form-block textarea.input-max {
	width: 98%;
}

/* Call-To-Action Block
====================================================================*/
.cta.well {
	border: none;

	-webkit-box-shadow: none;
	box-shadow: none;
	border-radius: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
}

.cta small {
	font-weight: normal;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
	filter: alpha(opacity=60);
	opacity: 0.6;
}

.cta .span2 {
	position: relative;
}

.cta .cta-btn {
	position: absolute;
	display: block;
	top: 75%;
}

/* Testimonials Block
====================================================================*/
.carousel.testimonials.carousel-fade .item {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	opacity: 0;
}

.carousel.testimonials.carousel-fade .active.item {
	-webkit-animation: fade-in 10s;
	-moz-animation: fade-in 10s;
	-ms-animation: fade-in 10s;
	-o-animation: fade-in 10s;
	animation: fade-in 10s;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	opacity: 1;
}

.fade-in-effect {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	opacity: 0.5;

	-webkit-animation: fade-in 3s;
	-moz-animation: fade-in 3s;
	-ms-animation: fade-in 3s;
	-o-animation: fade-in 3s;
	animation: fade-in 3s;

	-webkit-transition: all .35s ease-in-out;
	-moz-transition: all .35s ease-in-out;
	-o-transition: all .35s ease-in-out;
	-ms-transition: all .35s ease-in-out;
	transition: all .35s ease-in-out;
}

.fade-in-effect:hover {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	opacity: 1;
}

/* Misc
====================================================================*/
img.image-hover-effect,.image-hover-effect img {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	opacity: 0.5;

	-webkit-animation: fade-in 3s;
	-moz-animation: fade-in 3s;
	-ms-animation: fade-in 3s;
	-o-animation: fade-in 3s;
	animation: fade-in 3s;

	-webkit-transition: all .35s ease-in-out;
	-moz-transition: all .35s ease-in-out;
	-o-transition: all .35s ease-in-out;
	-ms-transition: all .35s ease-in-out;
	transition: all .35s ease-in-out;
}

img.image-hover-effect:hover,.image-hover-effect img:hover {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	opacity: 1;
}

.block-hover-effect {
	-webkit-transition: all .35s ease-in-out;
	-moz-transition: all .35s ease-in-out;
	-o-transition: all .35s ease-in-out;
	-ms-transition: all .35s ease-in-out;
	transition: all .35s ease-in-out;
}

.block-hover-effect:hover {
	background: #202627 !important;
	color: #EFF4FF !important;
	outline: none;

	-webkit-box-shadow: 0px 6px 12px -2px rgba(0, 0, 0, 0.5);
	box-shadow: 0px 6px 12px -2px rgba(0, 0, 0, 0.5);
}

.block-hover-effect button.btn {
	-webkit-transition: all .35s ease-in-out;
	-moz-transition: all .35s ease-in-out;
	-o-transition: all .35s ease-in-out;
	-ms-transition: all .35s ease-in-out;
	transition: all .35s ease-in-out;
}

.block-hover-effect:hover button.btn:hover {
	color: #ffffff;
	background-color: #2f96b4;
	*background-color: #2a85a0;
}

.block-hover-effect:hover button.btn {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #49afcd;
  background-image: -moz-linear-gradient(top, #5bc0de, #2f96b4);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#5bc0de), to(#2f96b4));
  background-image: -webkit-linear-gradient(top, #5bc0de, #2f96b4);
  background-image: -o-linear-gradient(top, #5bc0de, #2f96b4);
  background-image: linear-gradient(to bottom, #5bc0de, #2f96b4);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5bc0de', endColorstr='#ff2f96b4', GradientType=0);
  border-color: #2f96b4 #2f96b4 #1f6377;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #2f96b4;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */

  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}

.block-hover-effect button.btn i {
	vertical-align: baseline;
	margin-right: 5px;

	-webkit-transition: all .35s ease-in-out;
	-moz-transition: all .35s ease-in-out;
	-o-transition: all .35s ease-in-out;
	-ms-transition: all .35s ease-in-out;
	transition: all .35s ease-in-out;
}

.block-hover-effect:hover button.btn i[class^="icon-"],#services-wrapper .well:hover a.btn i[class*=" icon-"] {
	background-image: url("../img/glyphicons-halflings-white.png");
}

.add-shadow-effect,.well.well-shadow {
	-webkit-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.15), inset 0 1px 1px rgba(0, 0, 0, 0.05);
	box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.15), inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

.opacity5 {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	opacity: 0.5;
}

.opacity6 {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
	filter: alpha(opacity=60);
	opacity: 0.6;
}

.opacity7 {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	filter: alpha(opacity=70);
	opacity: 0.7;
}

.opacity8 {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	opacity: 0.8;
}

.opacity9 {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
	filter: alpha(opacity=90);
	opacity: 0.9;
}


